<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008b7f;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logoski.png" alt="Logo" width="200" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user/cours/list">Cours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user/cours/add">Ajouter Cours</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user/materiel/list">Materiel</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" routerLink="/user/materiel/add">Ajouter Materiel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="mycontainer">
<router-outlet></router-outlet>
</div>
